/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "ASMSTATS" {
        ext.prefix      = { "${meta.id}.${meta._hap}" }
    }

    withName: "GFASTATS" {
        ext.prefix      = { "${meta.id}.${meta._hap}" }
    }

    withName: "MERQURYFK_MERQURYFK" {
        ext.prefix      = { "${meta.id}.${meta._hap}" }
    }

    withName: "FASTK_FASTK" {
        ext.args        = { "-k${params.kmer_length} -t -P." }
    }

    withName: "FASTK_HISTEX" {
        ext.args        = { "-G" }
    }

    withName: "GENOMESCOPE2" {
        ext.args        = { "-k${params.kmer_length} --json_report" }
    }

    withName: "SMUDGEPLOT_HETMERS" {
        ext.args        = { "-L 12 -t ${task.cpus} -tmp ./ --verbose" }
    }

}
