/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/fastk_genome_statistics -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    sample      = 'Acropora_cervicornis'
    input       = ["https://tolit.cog.sanger.ac.uk/test-data/Acropora_cervicornis/assembly/release/reference/insdc/GCA_964034985.1.subset.fasta"]
    longreads   = ["https://tolit.cog.sanger.ac.uk/test-data/Acropora_cervicornis/genomic_data/m84093_241116_151316_s2.hifi_reads.bc2028.subset.fasta.gz", "https://tolit.cog.sanger.ac.uk/test-data/Quercus_robur/genomic_data/pacbio/dhQueRobu3.m84047_241122_124546_s2.ccs.bc2064.trim.subsampled.fasta.gz"]
    outdir      = 'Acropora_cervicornis_testing'
}
