/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/fastk_genome_statistics -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    sample      = 'icHenEnna1'
    input       = ['/lustre/scratch124/tol/teams/tola/users/dp24/hapmapstat/sanger-tol-fastk_genome_statistics/icHenEnna1.hap3.fa','/lustre/scratch124/tol/teams/tola/users/dp24/hapmapstat/sanger-tol-fastk_genome_statistics/icHenEnna1.hap1.decon.fa', '/lustre/scratch124/tol/teams/tola/users/dp24/hapmapstat/sanger-tol-fastk_genome_statistics/icHenEnna1.hap2.decon.fa']
    longreads   = ['/lustre/scratch122/tol/data/9/c/4/d/9/8/Henosepilachna_enneasticta/genomic_data/icHenEnna1/pacbio/fasta/m84098_260716_175222_s4.ccs.bc2095.trim.fasta.gz']
    outdir      = 'icHenEnna1_testing'
}
